#warnaMerah {
    color: red;
}
h4 {
    color: #373737;
}
h5 {
    color: rgb(4,5, 6);
}
#myBox {
    height: 40px;
    width: 40px;
    background-color: red;
}

body {
    background-image: url(practice/my-bg.jpg);
    background-size: cover;
}